body {
    background-color: #fffca9;
    margin: auto;
    padding: 0;
}

.first-page {
    background-color: #fffca9;
    margin-bottom: 10px;

}

.second-half {
    background-color: #320000;
}

.navbar {
    background-color: #320000;
    width: 100%;
}

.navbar-brand {
    color: #fffca9;
    font-size: 2em;
}

.navbar-brand:hover {
    color: #f5f3c7;
}

.btn {
    background-color: #fffca9;
}

.btn:hover {
    color: #320000;
    background-color: #fffcbd;
}

.form-control:focus {
    border-color: #fffca9;
    box-shadow: 0 0 0 0.2rem rgba(255, 252, 169, 0.8);

}

#form-search {
    margin-left: 30px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
    margin-top: 60px;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    width: 100%;
}



.carousel-container {}

.description-title {}

#carouselExampleControlsNoTouching {}